<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>图片链接</title>
    <script src="http://libs.baidu.com/jquery/2.1.1/jquery.min.js"></script>
    <style type="text/css">
        table {
            border-collapse: collapse;
            margin: 0 auto;
            text-align: center;
        }

        table td, table th {
            border: 1px solid #cad9ea;
            color: #666;
            height: 60px;
        }

        table thead th {
            background-color: #CCE8EB;
            width: 400px;
        }

        table tr:nth-child(odd) {
            background: #fff;
        }

        table tr:nth-child(even) {
            background: #F5FAFA;
        }
    </style>
    <script type="text/javascript">
        //显示详细信息

        function showtable(){

            console.log("click");
            var pwd = $("#pwd").val();
            var count = $("#count").val();

            $.ajax({
                url: "/list",
                type: "POST",
                data: {"password": pwd,"count":count},
                contentType: "application/x-www-form-urlencoded",
                success: function (data) {

                    var add = $(".add");
                    add.empty();
                    //创建表
                    if (data.status===1){
                    var table = document.createElement("table");
                    //利用bootstrap给表增加样式
                    table.classList = "table table-hover table-striped"
                    //创建首行表头
                    var tableHead = table.insertRow(0);
                    //首行添加内容
                    tableHead.insertCell(0).innerHTML = "序号";
                    tableHead.insertCell(1).innerHTML = "内容";
                    tableHead.insertCell(2).innerHTML = "时间";


                    //表加进div容器
                    add.append(table);
                    //表内容
                    var ret_data =data.ret_data
                    for (let i = 0; i < ret_data.length; i++) {
                        // console.log(ret_data[i])
                        let tr = table.insertRow(i + 1);//第二行开始
                        //行内容
                        tr.insertCell(0).innerHTML = ret_data[i].id;
                        u=ret_data[i].url;
                        tr.insertCell(1).innerHTML = "<td><a href=\""+u+"\" target=\"_blank\">"+u+"</td>";
                        tr.insertCell(2).innerHTML = ret_data[i].updated;

                    }

                }
                else{
                        var add = $(".add");
                        add.empty();
                        alert("密码错误");
                }}
                    ,
                fail: function (data) {
                    var add = $(".add");
                    add.empty();
                    alert("密码错误")
                    // console.log("上传失败");
                }
            })

            console.log('done');
        }
    </script>
</head>
<body>

<div align="center">
    <br>
    <button id="back_bt">返回首页</button>
    <br>
    <br>
    <div>
        <p>输入密码：<input type="password" id="pwd" name="pwd"> 图片数量:<input type="text" id="count" name="count" value="10"><button type="button" class="list_bt" onclick="showtable()">查询</button></p>
        <div class="add"></div>

        <table id='EmoplyList'>

        </table>

    </div>


</div>
<script type="text/javascript">
    var submitBTN = document.getElementById("back_bt");

    submitBTN.onclick = function (event) {
        window.location.href="/";

    }
</script>

</body>
