<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes"/>
    <title>七牛文件上传</title>

    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
</head>
<body>


<form id="uploadForm">
    <span>选择文件：</span><input type="file" id="bt_file" name="file"><br>
</form>
<button id="bt_upload">上传</button>

<br>

<div class="wrapper"><p>提交的内容:</p>
    <labael for="txt_content"></labael>
    <input id="txt_content" type="text" value="">

</div>

<script type="text/javascript">
    function jsCopy() {
        console.log('正在复制')
        //var context = document.getElementById("content").innerText;//对象是hdhcms2
        var input_str = document.getElementById("txt_content");
        // input_str.value = context;
        input_str.select()
        // e.select(); //选择对象
        document.execCommand("Copy"); //执行浏览器复制命令
        alert("已复制好，可贴粘。");

    }
</script>

<script type="text/javascript">
    var submitBTN = document.getElementById("bt_upload");
    // console.log(user_add_bt);
    submitBTN.onclick = function (event) {
        // 注意这里是 onclick 函数
        console.log("click");
        var formData = new FormData($("#uploadForm")[0]);

        // var team = document.getElementById("team").value;
        // var salary = document.getElementById("salary").value;
        $.ajax({
            url: "/",
            type: "POST",
            data: formData,
            cache: false,
            processData: false,
            contentType: false,
            success: function (data) {
                console.log(data);
                var url = data.data;
                var input_str = document.getElementById("txt_content");
                $("#txt_content").val(url);

                input_str.value = url;
                input_str.select()
                // e.select(); //选择对象
                document.execCommand("Copy"); //执行浏览器复制命令
                alert("已复制好，可贴粘。");
                // console.log(data.url);
            },
            fail: function (data) {
                alert("上传失败");
                console.log(data)
            }
        })

    }
</script>
</body>
</html>