<html>


<head>
    <script src="https://cdn.bootcss.com/jquery/3.3.0/jquery.min.js"></script>
    <script type="text/javascript">

        var i = 1;
        var max_value = 10;

        $("document").ready(function () {

            $("#bt1").click(function () {
                if (i == 1) {
                    i = max_value;
                    $(".show").text(i);
                } else {
                    i = i - 1;
                    $(".show").text(i);
                }
            });

            $("#bt2").click(function () {
                if (i == max_value) {
                    i = 1;
                    $(".show").text(i);
                } else {
                    i = 1 + i;
                    $(".show").text(i);
                }
            });

            $("#filter").click(function () {
                filterNum=10
                for (var i = 1; i <= filterNum; i++) {
                    console.log('watch')
                    if ($("#filterValue" + i).val() == null || $("#filterValue" + i).val() == "") {
                        alert($("#filterValue" + i).val());
                        continue;
                    } else {
                        if ($("#inputPropertyName" + i).val() == "MetricId") {
                            dataSource.filter({
                                field: $("#inputPropertyName" + i).val(),
                                operator: $("#inputOperation" + i).val(),
                                value: parseInt($("#filterValue" + i).val())
                            });
                        } else {
                            dataSource.filter({
                                field: $("#inputPropertyName" + i).val(),
                                operator: $("#inputOperation" + i).val(),
                                value: $("#filterValue" + i).val()
                            });
                        }
                    }
                }

            });
        });
    </script>

    <style>

        .anniu {
            width: 100px;
            height: 50px;
            background: red;


        }

        .show {
            width: 100px;
            height: 50px;
            background: rgb(143, 231, 163);
            text-align: center;
            line-height: 50px;

        }

        .anniu, .show {
            float: left;
        }
    </style>
</head>
<body>


<div>
    <div class="anniu" id="bt1"><img src="static/left.jpeg" width=100px height=50px></div>

    <div class="show"> 1</div>

    <div class="anniu" id="bt2"><img src="static/right.jpeg" width=100px height=50px></div>
</div>


<div id="filterDiv">
    <div id="div1">
        <input id="inputPropertyName1" value="MetricName"/>
        <input id="inputOperation1" value="contains"/>
        <input id="filterValue1"/>
    </div>
</div>

<button id="filter">Filter</button>
<button id="add">Add</button>
<button id="reset">Reset</button>


</body>
</html>